<!DOCTYPE html>
<html>
<head>
  <title>Flask + MySQL Docker Example</title>
  <style>* { font-family: Helvetica, Arial, sans-serif }</style>
</head>
<body>
  <h1>Flask + MySQL Docker Example</h1>
  <p>MySQL Connection: {{ result }}</p>

  <h1>Flask + Redis</h1>
  <pre>{{ redis  }}</pre>
</body>
</html>
